/* Reset style */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Fonts imports */

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Selectors */

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: "Gilroy";
}

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: #e5e5e5;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

/* Container max-width */

[class*=__container] {
  max-width: 73.125em;
  margin: 0 auto;
}

/* Media Queries */

/* Wrapper */

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Header */

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 50;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  background-color: #e5e5e5;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  font-size: 1.125rem;
  text-transform: uppercase;
  z-index: 2;
}

.header__link {
  color: #000;
}

.header__link:hover {
  color: #7b7770;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Menu dissapear while scrolling */

.header--hidden {
  -webkit-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Disabling out of burger menu scroll */

/* Top */

.top {
  margin: 80px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

.top__img {
  margin: 0px 0px 100px 0px;
}

.top__img img {
  max-height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 70%;
     object-position: 20% 70%;
}

.top__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.top__name {
  font-size: 2.125rem;
  font-weight: 700;
}

.top__about {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* Multiple Classes */

.title {
  font-size: 2.125rem;
  font-weight: 700;
  text-align: center;
}

/* About */

.about {
  padding: 100px 0px;
  text-align: center;
  background-color: #e5e5e5;
}

.about__container {
  max-width: 55ch;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

.about__text {
  font-size: 1.25rem;
  line-height: 1.2;
}

.about__text p {
  margin: 0px 0px 40px 0px;
}

/* Skills */

.skills {
  padding: 100px 0px;
  text-align: center;
}

.skills__title {
  margin: 0px 0px 50px 0px;
}

.skills__programs {
  margin: 0px 0px 100px 0px;
}

/* Programs */

.programs__title {
  margin: 0px 0px 85px 0px;
  font-weight: 700;
}

.programs__apps {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.programs__row {
  display: -ms-grid;
  display: grid;
  gap: 80px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.programs__icon {
  margin: 0px 0px 30px 0px;
}

.programs__icon img {
  max-width: 90px;
  width: 100%;
}

.programs__name {
  color: #8d99ae;
  text-transform: uppercase;
}

/* Technologies */

.technologies__title {
  margin: 0px 0px 85px 0px;
  font-weight: 700;
}

.technologies__icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.technologies__row {
  display: -ms-grid;
  display: grid;
  gap: 80px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.technologies__icon {
  margin: 0px 0px 30px 0px;
}

.technologies__icon img {
  max-width: 90px;
  width: 100%;
}

.technologies__name {
  color: #8d99ae;
  text-transform: uppercase;
}

.programs-technologies-title {
  font-size: 1.25rem;
}

/* Projects */

.projects {
  padding: 100px 0;
  text-align: center;
  background-color: #e5e5e5;
}

.projects__title {
  margin: 0px 0px 50px 0px;
}

/* Contacts */

.contacts {
  padding: 100px 0px;
  text-align: center;
}

.contacts__title {
  margin: 0px 0px 30px 0px;
}

.contacts__subtitle {
  margin: 0px 0px 40px 0px;
  font-size: 1.25rem;
}

.contacts__button {
  min-height: 40px;
  width: 100%;
  max-width: 180px;
  margin: 0px 0px 60px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.25rem;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: black;
}

.contacts__socials {
  margin: 0px 0px 50px 0px;
}

/* Footer */

.footer {
  padding: 30px 0;
  background-color: #ededed;
  text-align: center;
}

.footer__socials {
  padding: 0px 0px 25px 0px;
}

.footer__socials img {
  max-width: 45px;
  width: 100%;
  opacity: 75%;
}

.footer__socials a {
  margin: 0 8px;
}

.footer__socials a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 70%;
}

.footer__copyright {
  color: #aaa;
}

@media (max-width: 74.99875em) {
  [class*=__container] {
    max-width: 970px;
  }
}

@media (max-width: 61.93625em) {
  [class*=__container] {
    max-width: 750px;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }

  .header__burger {
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    height: 2px;
    width: 100%;
    top: 9px;
    left: 0;
    position: absolute;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    position: fixed;
    padding: 70px 10px 0px 10px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 1.5rem;
  }

  body.lock {
    overflow: hidden;
  }

  .top {
    margin: 50px 0px 0px 0px;
  }

  .top__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
  }

  .programs__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .technologies__row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}