* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy";
}

/* ============================ */

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

/* ============================ */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* ============================ */

.header {
  margin: 0px 0px 30px 0px;
}

.header__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px 0px;
  min-height: 50px;
  gap: 10px;
}

.header__container a {
  color: #828282;
}

.header__container a:hover {
  color: #070707;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__line {
  border: 1px solid #828282;
}

.title__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.title__name {
  font-size: 3rem;
  font-weight: 700;
}

.title__about {
  font-size: 1.25rem;
}

.title__img {
  margin: 0px 0px 100px 0px;
}

.title__img img {
  width: 100%;
}

.title {
  font-size: 2.125rem;
  font-weight: 700;
  text-align: center;
}

.about {
  background-color: #f6f6f6;
  text-align: center;
  padding: 90px 0;
}

.about__title {
  margin: 0px 0px 20px 0px;
}

.about__text {
  font-size: 1.25rem;
}

.about__text p {
  margin: 0px 0px 30px 0px;
}

.skills {
  padding: 90px 0;
}

.skills__title {
  margin: 0px 0px 70px 0px;
}

.skills__subtitle {
  font-size: 1.25rem;
  text-align: center;
  margin: 0px 0px 85px 0px;
}

.skills__programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.programs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -40px;
}

.programs__body {
  padding: 0px 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.programs__icon {
  margin: 0px 0px 20px 0px;
}

.programs__icon img {
  max-width: 90px;
  width: 100%;
}

.programs__subtitle {
  margin: 0px 0px 40px 0px;
  color: #828282;
}

.programs__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.programs__star img {
  max-width: 30px;
  width: 100%;
}

.portfolio {
  background-color: #f6f6f6;
  padding: 90px 0;
  text-align: center;
}

.portfolio__title {
  margin: 0px 0px 50px 0px;
}

.portfolio__img img {
  max-width: 100%;
  margin: 0px 0px 45px 0px;
}

.img__subtitle {
  font-size: 1.25rem;
}

.img__subtitle a {
  color: #070707;
  text-decoration: underline;
}

.contacts {
  padding: 90px 0px;
  text-align: center;
}

.contacts__title {
  margin: 0px 0px 20px 0px;
}

.contacts__subtitle {
  margin: 0px 0px 40px 0px;
  font-size: 1.25rem;
}

.contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 100px 0px;
}

.contacts__button button {
  font-size: 1.25rem;
  border: 1px solid #000;
  background-color: black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 40px;
}

.contacts__button button:hover {
  background-color: orange;
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.contacts__button p {
  color: white;
}

.contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 40px 0px 0px;
  margin: 0px 0px 45px 0px;
}

.contacts__icon img {
  margin: 0px 0px 0px 40px;
  max-width: 50px;
  width: 100%;
}

.icon__subtitle {
  color: #828282;
}

.icon__subtitle p {
  margin: 0px 0px 5px 0px;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }

  .title__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 23px;
  }

  .programs__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}